@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

#checkboxes {
    display: block;
    position: absolute;
    left: 500px;

}

#nodeGraph {
    position: absolute;
    left: 400px;
}

#tooltip {
    width: 18rem; 
    position: absolute;
    left: 800px;
    top: 30px;
}

#Title {
    display: flex;
    background-color: black;
    color: white;
}